import Vue from 'vue'

// ElementUI
import ElementUI from 'element-ui'
import 'element-ui/lib/theme-chalk/index.css'

import App from './${config._filename}.vue'
${config.store ? "import store from './store'" : ""}
${config.router ? "import router from './router'" : ""}
Vue.use(ElementUI)

Vue.config.productionTip = false;

new Vue({
    ${config.router ? "router," : ""}
    ${config.store ? "store," : ""}
    render: h => h(App)
}).$mount('#app')
